<div class="col-12 p-0 m-0 ">
  <div class="row col-11 mx-auto mt-5">
    <!-- I do a loop on the collec tab a got from the get request-->
    <div class="col-md-6 col-lg-6 col-xl-3 mb-3" *ngFor="let figure of collec">
      <div class="card">
        <!-- for each figure of the collec tab I write this html-->
        <h4 class="card-title text-center p-1 bg-primary text-white" name="name">{{figure.nom}}
          <!--the name of the object with his parapeter name-->
        </h4>
        <div class="container row">
          <img style="width: 270px; height: 200px" src="{{figure.picture}}" alt="{{figure.nom}}" class="image mx-auto">
        </div>
        <div class="card-body text-center mb-0">
          <p class="card-text">{{figure.univers}}</p>
          <div class=" pl-4 row mx-auto">
            <button (click)="removeFigureWish(figure.nom)" class="btn btn-outline-success col-5 text-center">
                <img src="https://png.icons8.com/metro/30/000000/trash.png">
            </button>
            <button (click)="addFigure2(figure.nom);removeFigureWish(figure.nom)" class="btn btn-outline-success col-5">
                <img src="https://png.icons8.com/ios-glyphs/30/000000/trophy.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
